body {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(69, 69, 69), rgb(200, 200, 200));
    margin-top: 150px;
}

nav {
    font-stretch: ultra-expanded;
    padding: 25px;
    margin-bottom: 150px;
    animation: fadein 1s;
}
a {
    color: rgb(100, 100, 100);
    text-decoration: none;
}
a:hover {
    color: white;
    transform: scale(.5);
    transition: .5s ease;
}
p {
    text-align: center;
    font-size: large;
    color: rgb(200, 200, 200);
    animation: fadein 7s;
}

img:hover {
    transform: scale(1.5);
    transition: 1s ease-in-out;   
}

.center {
    display: flex;
    justify-content: center;
    animation: fadein 7s;
}


@keyframes fadein {
    from { 
        opacity: 0;
        transform: translateY(-45px);
    }
    to { 
        opacity: 1;
        transform: translate(0);
    }
}
